.form {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 18px;
}

input,
textarea {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
}
